python: '3.10'
odoo:
  server: /workspace/odoo.{{odoo_version}}
  enterprise: /workspace/enterprise.{{odoo_version}}
repos:
  - /workspace/addons
database:
  odoo_conf: /workspace/odoo.conf
  dest_dir: /workspace/dbs
