[options]
; Configuración básica
addons_path = addons,~/odoo/addons
admin_passwd = {{ odoo_admin_password }}
db_host = False
db_port = False
db_name = False
db_user = {{ db_user }}
db_password = {{ db_password }}
csv_internal_sep = ,
data_dir = ./data
; pg_path =
; logfile = /var/log/odoo/odoo.log        ; Ruta del archivo de log
; log_level = debug                       ; Nivel de logging (debug para desarrollo)

; Configuración de servidor
http_port = 8069                        ; Puerto HTTP
longpolling_port = 8072                 ; Puerto para longpolling
; proxy_mode = True                       ; Modo proxy para múltiples instancias
; workers = 0                             ; Desactivar multiprocesamiento para debugging

; Configuración de base de datos
list_db = True                          ; Permitir listar bases de datos
db_name = odoo                          ; Nombre de base de datos por defecto
db_template = template0                 ; Plantilla para nuevas bases de datos
; db_filter = ^db_v18.*$                  ; Filtro de bases de datos

; Optimizaciones para desarrollo
translate_modules = ['all']             ; Traducir todos los módulos
osv_memory_count_limit = 0              ; Desactivar límite de memoria

; Limites de Memoria
limit_memory_hard = 2684354560
limit_memory_soft = 2147483648
limit_request = 8192
limit_time_cpu = 60
limit_time_real = 0
limit_time_real_cron = -1

; Configuración de desarrollo específica
; dev_mode = reload                       ; Modo desarrollador (recarga código)
; debug_mode = True                       ; Activar modo depuración
; test_enable = False                     ; Desactivar tests automáticos
; demo = True                             ; Incluir datos demo
; without_demo = False                    ; Incluir datos demo en DB


; Configuración de email
; email_from = admin@example.com          ; Email remitente
; smtp_server = localhost                 ; Servidor SMTP
; smtp_port = 25                          ; Puerto SMTP
