version: '3'

services:
  {{project_name}}:
    container_name: {{project_name}}
    image: mjavint/odoodev:3.10
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    volumes:
      - ..:/workspace
      - ${ODOO_SERVER}:/workspace/odoo.{{odoo_version}}:ro
      - ${ENTERPRISE_ADDONS}:/workspace/enterprise.{{odoo_version}}:ro
      - odoo-data:/var/lib/odoo
    command: sleep infinity
    ports:
      - '8069:8069'
      - '8071:8071'
      - '8072:8072'
    networks:
      - shared-net

  pgdb:
    image: postgres:16.0-alpine
    restart: unless-stopped
    container_name: pgdb
    volumes:
      - pgdb-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=admin
    ports:
      - '5432:5432'
    networks:
      -  shared-net

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: unless-stopped
    ports:
      - '8080:80'
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    networks:
      - shared-net

volumes:
  odoo-data:
  pgdb-data:

networks:
  shared-net:
    external: true
    name: shared-net
